PORT=2000

EDI_BASE_URL=https://example-edi-system.com
EDI_HOST=example-edi-system.com
EDI_COMP_CODE=DEMO_COMPANY
EDI_USERNAME=DEMO_USER
EDI_PASSWORD=DEMO_PASSWORD
EDI_USER_COOKIE=DEMO_USER_COOKIE
EDI_COMP_COOKIE=DEMO_COMP_COOKIE

MONITORING_FORM_DIR=./demo-monitoring-forms